<!DOCTYPE html>
<html>
<head>
  <title>Your Current Heart Rate</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <header>
    <div class="main">
      <div class="logo">
        <img src="../static/one.png">

      </div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="https://github.com/Tauheed-Elahee/Oliver">GitHub</a></li>
      </ul>

    </div>
   <div  class="bpm2">
    <h1>Welcome to Oliver...</h1>
     <h2>Your heartrate is</h2>
   </div>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '{{ token }}';
      const player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();
    };
  </script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#play').bind('click', function() {
            $.getJSON('/play',
                function(data) {
            });
        return false;
      });
    });
</script>


      <div class="button">
        <a href=# id=play class="btn">Play</a>
       <a href=# id=pause class="btn">Pause</a>
       <a href=# id=nexttrack class="btn">Next Track</a>
      </div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#pause').bind('click', function() {
            $.getJSON('/pause',
                function(data) {
            });
        return false;
      });
    });
</script>


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<div id="content" class="bpm">{{ system_info }}</div>

<script>
setInterval(function(){ // load the data from your endpoint into the div
    $("#content").load("/sys_info.json")
},1000)
</script>
  </header>
</body>
</html>
